---
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout
  title="CivicPlus"
  prevLink="/clients/simplifyy"
  nextLink="/clients/ge"
  bgImgSrc="https://images.unsplash.com/photo-1548946061-4af3de8b577c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2503&q=80"
>
  <p>This is my work at CivicPlus</p>
</ClientLayout>
