---
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout
  title="GE Aviation"
  prevLink="/clients/simplifyy"
  nextLink="/clients/solv"
  bgImgSrc="https://images.unsplash.com/photo-1503379230423-19c53f7e9a33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2346&q=80"
>
  <div class="flex flex-row justify-between gap-36 whitespace-nowrap">
    <div class="2xl:flex flex-col hidden">
      <div class="overflow-hidden">
        <p class="translate-y-full font-thin text-7xl">GE AVIATION</p>
      </div>
      <div class="overflow-hidden pt-4">
        <p class="translate-y-full font-thin text-7xl">GE AVIATION</p>
      </div>
      <div class="overflow-hidden pt-4">
        <p class="translate-y-full font-thin text-7xl">GE AVIATION</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="overflow-hidden">
        <p
          class="translate-y-full font-thin sm:text-7xl text-5xl sm:hidden flex"
        >
          GE AVIATION
        </p>
        <div class="overflow-hidden sm:pt-0 pt-4">
          <p class="translate-y-full font-thin sm:text-7xl text-5xl">
            FULL STACK
          </p>
        </div>
        <div class="overflow-hidden pt-4">
          <p class="translate-y-full font-thin sm:text-7xl text-5xl">
            DEVELOPER
          </p>
        </div>
      </div>
    </div>
    <div class="2xl:flex flex-col hidden">
      <div class="overflow-hidden">
        <p class="translate-y-full font-thin text-7xl">GE AVIATION</p>
      </div>
      <div class="overflow-hidden">
        <p class="translate-y-full font-thin text-7xl">GE AVIATION</p>
      </div>
    </div>
  </div>
  <div class="overflow-hidden pt-4">
    <p class="translate-y-full font-thin text-base sm:text-4xl">
      World-leading provider of jet and turboprop engines, components and
      integrated systems for commercial, military, business and general aviation
      aircraft.
    </p>
  </div>
</ClientLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const pList = document.querySelectorAll("p");
    const callback = (entries, observer) => {
      let lastVisibleIndex = 0;
      entries.forEach((entry, i) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("slideIn");
          lastVisibleIndex = i;
        }
      });
    };
    const options = { rootMargin: "-10%" };
    const myObserver = new IntersectionObserver(callback, options);

    pList.forEach((p) => {
      myObserver.observe(p);
    });
  });
</script>

<style>
  .slideIn {
    animation: slide 0.5s ease-in-out;
    animation-delay: calc(var(--ao, 0) * 100ms);
    animation-fill-mode: forwards;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 110%, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
</style>
