---
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout
  title="GE Aviation"
  prevLink="/clients/simplifyy"
  nextLink="/clients/solv"
  bgImgSrc="https://images.unsplash.com/photo-1503379230423-19c53f7e9a33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2346&q=80"
>
  <p>This is my work at GE Aviation</p>
</ClientLayout>
