---
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout>
  <div class="">
    <img
      id="ge-img"
      class="slide-image w-[40vmin] h-[56vmin] object-cover object-right select-none"
      draggable="false"
      src="https://images.unsplash.com/photo-1503379230423-19c53f7e9a33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2346&q=80"
    />
    <div class="">
      <p>This is my work at GE Aviation</p>
    </div>
  </div>
</ClientLayout>
