---
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout
  title="Simplifyy"
  prevLink="/clients/lobby"
  nextLink="/clients/civicplus"
  bgImgSrc="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2273&q=80"
>
  <p>This is my work at Simplifyy</p>
</ClientLayout>
