---
import { slide } from "astro/transitions";
import ClientLayout from "../../layouts/ClientLayout.astro";
---

<ClientLayout
  title="Solv"
  prevLink="/clients/ge"
  nextLink="/clients/lobby"
  bgImgSrc="https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
>
  <p class="font-neueMontreal">SolvHealth</p>
</ClientLayout>
