---
import { slide } from "astro:transitions";
import LeftAlignedHeaderLayout from "../layouts/LeftAlignedHeaderLayout.astro";
---

<LeftAlignedHeaderLayout title="About">
  <section transition:animate={slide()} class="">
    <div
      class="list-parent pl-[calc(50%-74px)] 2xl:pb-[10vh] pb-[15vh] block text-[2.815vw] leading-[3.6458vw] tracking-[-0.02em]"
    >
      <div class="overflow-hidden">
        <p style="--ao:0" class="translate-y-full">
          Chris Allmon is a seasoned software
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:1" class="translate-y-full">
          engineer holding a B.S. in Computer
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:2" class="translate-y-full now">
          Science from the University of Kansas.
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:3" class="translate-y-full">
          his journey into the world of tech
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:4" class="translate-y-full">
          began with the desire to blend art
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:5" class="translate-y-full">
          and software to create something unique.
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:6" class="translate-y-full"></p>
      </div>
      <br />

      <div class="overflow-hidden">
        <p style="--ao:7" class="translate-y-full">
          While Chris has been fortunate to receive
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:8" class="translate-y-full">
          recognition in the tech industry, his true joy
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:9" class="translate-y-full">
          comes from fostering the next generation
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:10" class="translate-y-full">
          of innovators. He is dedicated to
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:11" class="translate-y-full">
          supporting STEM education initiatives
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:12" class="translate-y-full">
          and contributing to causes that
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:13" class="translate-y-full">
          improve access to education and
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:14" class="translate-y-full">
          mentorship in underserved communities.
        </p>
      </div>
      <br />

      <div class="overflow-hidden">
        <p style="--ao:15" class="translate-y-full">
          Outside of his tech pursuits, Chris finds
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:16" class="translate-y-full">
          relaxation in whiskey tasting, scuba,
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:17" class="translate-y-full">
          and skydiving (never at the same time).
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:18" class="translate-y-full">
          He is always eager to explore new horizons
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:19" class="translate-y-full">
          in technology and find ways to use
        </p>
      </div>
      <div class="overflow-hidden">
        <p style="--ao:20" class="translate-y-full">
          innovation for the greater good.
        </p>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("astro:page-load", () => {
      const pList = document.querySelectorAll("p");
      const callback = (entries, observer) => {
        let lastVisibleIndex = 0;
        entries.forEach((entry, i) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("slideIn");
            lastVisibleIndex = i;
          } else {
            const es = getComputedStyle(entry.target);
            entry.target.style.setProperty(
              "--ao",
              es.getPropertyValue("--ao") - lastVisibleIndex
            );
          }
        });
      };
      const options = { rootMargin: "-10%" };
      const myObserver = new IntersectionObserver(callback, options);

      pList.forEach((p) => {
        myObserver.observe(p);
      });
    });
  </script>

  <style>
    .slideIn {
      animation: slide 0.5s ease-in-out;
      animation-delay: calc(var(--ao, 0) * 100ms);
      animation-fill-mode: forwards;
    }

    @keyframes slide {
      0% {
        transform: translate3d(0, 110%, 0);
      }

      100% {
        transform: translate3d(0, 0, 0);
      }
    }
  </style>
</LeftAlignedHeaderLayout>
