---
import { slide } from "astro/transitions";
import LeftAlignedHeaderLayout from "../layouts/LeftAlignedHeaderLayout.astro";
---

<LeftAlignedHeaderLayout title="Contact">
  <section transition:animate={slide()}>
    <div
      class="pl-[calc(50%-64px)] block text-[2.815vw] leading-[3.6458vw] tracking-[-0.02em] font-neueMontreal"
    >
      <a href="mailto:chrisa.code@gmail.com">Email</a><br />
      <a href="https://www.linkedin.com/in/chris-allmon/">Linkedin</a><br />
      <a href="https://github.com/TeslaFreak">GitHub</a>
    </div>
  </section>
</LeftAlignedHeaderLayout>
