---
import HomeLayout from "../layouts/HomeLayout.astro";
import { Cube } from "../components/Cube";
import MormalImageSlider from "../components/MormalImageSlider.jsx";
import { BackgroundFadeTrigger } from "../components/BackgroundFadeTrigger.jsx";
---

<HomeLayout>
  <div class="spin-track">
    <a id="works">
      <div class="works-container" transition:persist>
        <Cube client:only transition:persist />
      </div>
    </a>
  </div>
  <a id="clients">
    <div class="clients-container" transition:persist>
      <BackgroundFadeTrigger parentClassName="clients-container" client:load />
      <MormalImageSlider client:only transition:persist />
    </div>
  </a>
</HomeLayout>

<style>
  .spin-track {
    height: 300vh;
  }
  .works-container {
    height: 100vh;
    perspective: 140rem;
    position: sticky;
    top: 0;
  }
  .clients-container {
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }
</style>
