---
import Layout from "../layouts/Layout.astro";
import { Cube } from "../components/Cube";
import MormalImageSlider from "../components/MormalImageSlider.jsx";
import { BackgroundFadeTrigger } from "../components/BackgroundFadeTrigger.jsx";
---

<Layout title="Welcome to the portfolio of Chris Allmon">
  <div class="spin-track">
    <a id="works">
      <div class="works-container">
        <Cube client:load />
      </div>
    </a>
  </div>
  <a id="clients">
    <div class="clients-container">
      <BackgroundFadeTrigger parentClassName="clients-container" client:load />
      <MormalImageSlider client:load />
    </div>
  </a>
</Layout>

<style>
  .spin-track {
    height: 300vh;
  }
  .works-container {
    height: 100vh;
    perspective: 140rem;
    position: sticky;
    top: 0;
  }
  .clients-container {
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }
</style>
