---
import Layout from "../layouts/Layout.astro";
import { Cube } from "../components/Cube";
---

<Layout title="Welcome to the portfolio of Chris Allmon">
  <a id="works"></a>
  <div class="spin-track">
    <div class="works-container">
      <Cube client:load />
    </div>
  </div>
  <div class="clients-container">
    <a id="clients"></a>
    <div>Hello World</div>
  </div>
</Layout>

<style>
  .spin-track {
    height: 300vh;
  }
  .works-container {
    height: 100vh;
    perspective: 140rem;
    position: sticky;
    top: 0;
  }
  .clients-container {
    background-color: bisque;
    position: sticky;
    top: 0;
    height: 100vh;
  }
</style>
