---
import { Cube } from "../components/Cube";
import ImageSlider from "../components/MormalImageSlider.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to the portfolio of Chris Allmon">
  <div class="rotation-container">
    <ImageSlider client:load />
  </div>
</Layout>

<style>
  .rotation-container {
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    margin: 0rem;
    background-color: black;
  }
</style>
