<div
  class="header-container p-6 w-full justify-between flex flex-row fixed top-6 left-0 z-50 text-white"
>
  <div
    class="group text-2xl leading-6 items-center justify-center flex flex-row gap-8 transition w-full"
  >
    <a
      transition:name="header-works"
      href="/#works"
      class="group-hover:opacity-30 hover:!opacity-100 hover:scale-125 origin-top ease-in-out duration-500 transition"
    >
      Works
    </a>
    <a
      transition:name="header-clients"
      href="/#clients"
      class="group-hover:opacity-30 hover:!opacity-100 transition ease-in-out duration-500 hover:scale-125 origin-top"
    >
      Clients
    </a>
    <a
      transition:name="header-about"
      href="/about"
      class="group-hover:opacity-30 hover:!opacity-100 hover:scale-125 origin-top ease-in-out duration-500 transition"
    >
      About
    </a>
    <a
      transition:name="header-contact"
      href="/contact"
      class="group-hover:opacity-30 hover:!opacity-100 hover:scale-125 origin-top ease-in-out duration-500 transition"
    >
      Contact
    </a>
  </div>
</div>
