---
import HeaderBarLeftAligned from "../components/HeaderBarLeftAligned.astro";
import Layout from "./Layout.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <HeaderBarLeftAligned class="bg-[#141414] text-white" />
  <div class="pt-44 px-6 bg-[#141414] text-white h-full min-h-screen w-full">
    <slot />
  </div>
</Layout>
