---
import HeaderBarLeftAligned from "../components/HeaderBarLeftAligned.astro";
import Layout from "./Layout.astro";
---

<Layout title="About">
  <HeaderBarLeftAligned class="bg-[#141414] text-white" />
  <div class="pt-44 px-6 bg-[#141414] text-white h-full w-full">
    <slot />
  </div>
</Layout>
